<div class="container">
<h1><small><u>Edit Details</u></small></h1>
<%= form_for (@company),:url =>{:action => "update", :id =>@company.id} do |f| %>
  <div class="row">
  <div class="col-md-12">
    <%= f.label :hotel_name %><br>
    <%= f.text_field :name %>    
  </div>
  </div>


 <% @company.rates.each do |rate|%>
  <%= f.fields_for rate do |t| %>
    <div class="row">
      <div class="col-md-4">
        <%= t.label :room %><br>
        <%= t.text_field :room %>      
      </div>

    <div class="col-md-4">
      <%= t.label :price %><br>
      <%= t.text_field :price %>
    </div>
      
  <%= f.fields_for (rate.type) do |t| %>
      <div class="col-md-4">
        <%= t.label :type %><br>
        <%= t.text_field :name %>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>


  <%= f.fields_for @company.areas.find(@path) do |a| %>
  <div class="row">
     <div class="col-md-6">
      <%= a.label :area %><br>
      <%= a.text_field :name %>
    </div>

    <%= f.fields_for (@company.areas.find(@path).city) do |c| %>
    <div class="col-md-6">
      <%= c.label :city %><br>
      <%= c.text_field :name %>
    </div>
  </div>
  <% end %>
  <% end %>

  <div>
    <%= f.submit "Save changes" %>
  </div>
<% end %>
</div>
